<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% assign images = site.static_files | where_exp: "file", "file.path contains '/images/main-carousel/'" %}
            {% for image in images %}
              <li class="glide__slide">
                <img src="{{ image.path }}" alt="Gallery Image">
              </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    new Glide('.glide', {
        type: 'carousel',
        perView: 2,
        autoplay: 5000,
        gap: 10
    }).mount();
</script>

<style>
    .glide__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .glide__slide img {
        width: 100%;
        height: auto;
    }
</style>