{% assign color = site.data.types[include.type].color | default: "#808080" %}
<div class="alert" style="--color: {{ color }}">
  {% assign icon = site.data.types[include.type].icon
    | default: "fa-solid fa-circle-info"
  %}
  {% include icon.html icon=icon %}
  <div class="alert-content">
    <div class="alert-row">
      <div class="alert-cell alert-date">{{ include.date }}</div>
      
      <div class="alert-cell alert-type">
          {% if include.type == "news-paper-accepted" %}  [Paper]
          {% elsif include.type == "news-award" %}        [Award]
          {% elsif include.type == "news-info" %}         [Update]
          {% elsif include.type == "news-talk" %}         [Talk]
          {% endif %}
      </div>
    </div>
    
    <div class="alert-content-text">
      {{ include.content }}
    </div>
  </div>
</div>
