---
layout: default
---

<div class="member-layout">
  {% assign member_name = page.name | default: page.title %}

  <aside class="member-sidebar">
    <div class="member-sidebar-content">
      {% include portrait.html lookup=page.slug %}

      {% if page.links %}
        <div class="member-links">
          {% for link in page.links %}
            {% assign key = link[0] %}
            {% assign value = link[1] %}
            {% include button.html type=key link=value style="bare" %}<br>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </aside>

  <div class="member-main">
    {{ content }}

    {% assign data = site.data.citations
      | where_exp: "d", "d.authors contains member_name"
      | sort: "date"
      | reverse
    %}

    <h3 id="publications">Publications</h3>

    {% for d in data %}
      {% include citation.html
        authors=d.authors
        date=d.date
        title=d.title
        type=d.type
        conference=d.conference
        url=d.url
        id=d.id
        highlight_author=member_name
      %}
    {% endfor %}
  </div>
</div>
